h1,h2,h3,h4 {
    font-family: var(--bs-font-sans-serif);
    font-style: italic;
}
.h3-label {
    font-family: var(--bs-font-sans-serif);
    font-style: italic;
    font-size: calc(1.3rem);
    line-height: 1.2;
}
.full-width {
    width: 100%;
}
h1 {
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
}
.left-bar {
    border-right: 1px solid #ddd;
}
address {
    background: url("2.png") no-repeat left;
    padding-left: 42px;
    height: 34px;
    line-height: 30px;
    margin-top: 10px !important;
}